.raiders{
	width: 1200px;
	height: 345px;
	margin: 20px auto;
	font-family: "微软雅黑";
}
.raiders span{
	position: absolute;
	top:1355px;
	right: 100px;
}
.raiders h2{
	color: #49f;
	border-bottom: 2px solid #49f;
}

.raiders .mt20{
	margin-top: 20px;
	height: 283px;
	position: relative;
	overflow: hidden;
	margin-right: -1px;
}

.raiders .mt20 ul{
	height: 283px;
	width: 1950px;
	margin: 0px;
	padding: 0;
	list-style: none;
}

.raiders .mt20 ul li{
	width: 151px;
	float: left;
	margin-right: -2px;
	cursor: pointer;
}
.raiders .mt20 ul li .linkt{
	border-top: 1px solid white;
}
.raiders .mt20 ul li a{
	display: block;
	height: 110px;
	border: 1px solid #F1F1F1;
	margin-bottom: -2px;
	position: relative;
	text-align: center;
	padding: 15px;
	font-size: 14px;
	color: #555;
}
.raiders .mt20 ul li a:hover{
	border: 1px solid #f66;
}
.raiders .mt20 ul li a i{
	background: url(../img/radius/pic.png) no-repeat 0 0;
	width: 110px;
	height: 80px;
	display: inline-block;
	-webkit-transition: margin 0.5s;
}
.raiders .mt20 ul li a i.zhouji{
	background-position: -448px 0;
}
.raiders .mt20 ul li a i.xidawu{
	background-position: -448px -85px;
}
.raiders .mt20 ul li a i.wanhao{
	background-position: -674px -0px;
}
.raiders .mt20 ul li a i.kaiyue{
	background-position: -674px -176px;
}
.raiders .mt20 ul li a i.rujia{
	background-position: -786px -85px;
}
.raiders .mt20 ul li a i.hanting{
	background-position: -224px -176px;
}
.raiders .mt20 ul li a i.qitian{
	background-position: 0px -176px;
}
.raiders .mt20 ul li a i.jinjiang{
	background-position: -448px -176px;
}
.raiders .mt20 ul li a i.dazhonghua{
	background-position: -224px 0;
}
.raiders .mt20 ul li a i.xianggelila{
	background-position: -561px -85px;
}
.raiders .mt20 ul li a i.xierdun{
	background-position: 0 -85px;
}
.raiders .mt20 ul li a i.yashige{
	background-position: -786px -176px;
}
.raiders .mt20 ul li a i.jinling{
	background-position: -561px -176px;
}
.raiders .mt20 ul li a i.biguiyuan{
	background-position: 0 -264px;
}
.raiders .mt20 ul li a i.motai{
	background-position: -112px -176px;
}
.raiders .mt20 ul li a i.gelinhaotai{
	background-position: 0 0;
}
.raiders .mt20 ul li a:hover i{
	margin-top: -5px;
	margin-bottom: 5px;
}
