*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #f5f5f5;*/
    font: 12px/1.5 tahoma,arial;
    background: #ffffff;
}
a{
    cursor: pointer;
}
#content, #footer, #header, #page {
    margin-left: auto;
    margin-right: auto;
}
#site-nav {
    width: auto;
    height: 32px;
    position: relative !important;
    background: #f2f2f2;
    z-index: 99999;
    font-family: "Microsoft YaHei";;
    border-bottom: 1px solid #e5e5e5;
}
#site-nav #sn-bd {
    position: relative;
    left: -15px;
    width: 1230px;
    margin: 0 auto;
}
.sn-container{
    width: 100%;
    position: relative;
}
#site-nav .sn-container:after, #sn-bd:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
#site-nav .sn-login-info, #site-nav .sn-miao-message, #site-nav .sn-point, #site-nav .sn-quick-menu, #site-nav .sn-user-nick, #site-nav .sn-welcome-info, #site-nav .sn-welcome-info span {
    height: 32px;
    line-height: 32px;
}
.sn-welcome-info{
    float: left;
}
.sn-welcome-info span{
    vertical-align: top;
    display: inline-block;
}
a,a:hover{
    text-decoration: none;
    outline: 0;
}
#site-nav .sn-user-nick {
    margin-left: -3px;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#site-nav a.sn-identity {
    background: url(../img/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
}
#site-nav a.sn-identity {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 9px;
    border-radius: 50%;
    text-align: center;
    background-position: -109px -23px;
}
#site-nav a.sn-identity span {
    line-height: 11px;
    font-size: 10.1px;
    position: relative;
    display: inline-block;
}
#site-nav .sn-point {
    outline: 0;
    position: relative;
    padding: 0 10px;
}
#site-nav .sn-point-value, .sn-msg-num {
    padding-left: 2px;
    color: #666;
    font-weight: 700;
    font-family: Tahoma;
    line-height: 25px;
    font-style: normal;
}
#site-nav .sn-message-cont {
    float: left;
    padding: 0 10px;
}
#site-nav .menu-hd {
    display: block;
    height: 26px;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
}
.sn-logout{
    padding: 0 10px;
}
ul,ol,li{
    list-style: none;
}
#site-nav .sn-quick-menu {
    position: absolute;
    right: 0;
    top: 0;
}
#site-nav .sn-quick-menu li {
    float: left;
    position: relative;
    padding-left: 10px;
    color: #999;
    cursor: pointer;
}
#site-nav .sn-quick-menu li:hover{
    color: #c40000;
}
.sn-quick-menu.icon{
    display: inline-block;
    position: relative;
    font-family: mui-global-iconfont!important;
    font-size: 12px;
    font-style: normal;
}
#content {
    clear: both;
}
#content, .header, .float-bar, #footer, .wp {
    width: 990px;
    margin: 0 auto;
}

.header {
    padding: 20px 0 40px;
    position: relative;
    height: 35px;
}


#logo {
    float: left;
}

.cart-logo a {
    width: 140px;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    color: #f50;
    position: relative;
    display: inline-block;
}
.cart-logo a span{
    background: url("../img/TB1PsW9LFXXXXaXXVXXXXXXXXXX-800-600.png") no-repeat 0 0;
}
.cart-logo a span {
    position: absolute;
    display: block;
    width: 181px;
    height: 45px;
    overflow: hidden;
    top: -2px;
    left: 0;
    background-position: -110px 0;
    background-color: #fff;
}
.tb-header .search {
    float: right;
}
.tb-header .search {
    padding: 0;
}
.tb-header .search-triggers {
    position: relative;
    z-index: 1000;
}
.tb-header .search-panel {
    position: relative;
    zoom: 1;
    width: 515px;
}
.tb-header .search-panel .search-button {
    position: relative;
    z-index: 1;
    float: right;
    background: #fff;
}

.tb-header .search-triggers .ks-switchable-nav {
    width: 74px;
    position: absolute;
    z-index: 1;
    left: 3px;
    top: 3px;
    height: 29px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #f5f5f5;
    background-color: #e5e5e5;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.tb-header .search-triggers li {
    position: relative;
    zoom: 1;
    height: 100%;
    width: 100%;
}
.tb-header .search-triggers li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 29px;
}
.tb-header .search-panel .search-button .btn-search
 {
    background: url(../img/T1qyj8Fc8aXXc4E9bI-400-300.png) no-repeat 0 -204px;
}
.tb-header .btn-search {
    height: 35px;
    width: 93px;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    text-indent: -999em;
    float: left;
    display: inline-block;
}
.tb-header .search-hp-fields {
    height: 35px;
    background: #f50;
    position: relative;
    zoom: 1;
    overflow: hidden;
}
.tb-header .search-hp-fields .search-combobox {
    margin-left: 79px;
    height: 29px;
    margin-right: 0;
    margin-top: 3px;
    background: #ffffff;
}
.tb-header .search-combobox-input-wrap {
    position: relative;
    overflow: hidden;
    height: 29px;
    vertical-align: middle;
}
.tb-header .search-hp-fields .search-combobox input {
    margin-left: 0;
    text-indent: 10px;
    border: 0;
    height: 29px;
    line-height: 18px;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
    width: 100%;
    padding-left: 10px;
}
.tb-header .search-panel i {
    z-index: 2;
    position: absolute;
    top: 13px;
    left: 86px;
    width: 12px;
    height: 12px;
    display:inline-block;
}
.tb-header .search-panel  i {
    background: url(../img/T1OdGtFaxfXXXa78nI-400-200.png);
    background-position: -380px -20px;
    background-repeat: no-repeat;
}
.cart {
    min-height: 400px;
}
.cart-filter-bar {
    overflow: hidden;
    font-size: 12px;
    position: relative;
}
.switch-cart {
    overflow: hidden;
    height: 33px;
    list-style: none;
}
em{
    font-style: normal;
    color: #3c3c3c;
}
.btn-switch-cart {
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    padding: 0 0 15px 0;
    cursor: pointer;
    margin-left: -1px;
}
.btn-switch-cart a {
    padding-left: 15px;
    text-decoration: none;
}
.switch-cart .current a em {
    color: #f40;
    font-style: normal;
}
.btn-switch-cart .number {
    color: #f40;
    font-size: 14px;
    margin: 0 30px 0 5px;
    font-weight: 400;
}
.btn-switch-cart .pipe {
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #e8e8e8;
}
.cart-filter-bar .cart-sum {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
}
.cart-filter-bar .cart-sum {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
}
.cart-sum .price {
    font-family: Arial,Verdana;
    font-weight: 700;
    margin-right: 5px;
    color: #f40;
}
.cart-sum .price em {
    font-family: Verdana,Arial;
    padding-left: 2px;
    font-weight: 700;
    font-style: normal;
}
.total-symbol {
    font-size: 12px;
    font-weight: 400;
}

.cart-sum .submit-btn {
    display: inline-block;
    width: 55px;
    color: #fff;
    background: #f40;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.wrap-line {
    clear: both;
    background: #e6e6e6;
    height: 2px;
    position: relative;
}

.wrap-line .floater {
    background: #f40;
    height: 2px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 123px;
    left: -1px;
}
.cart-main {
    min-height: 210px;
}

.cart-table-th {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
}
.cart-table-th .th {
    float: left;
}
.cart-table-th .th-chk {
    font-size: 12px;
    text-align: left;
    position: relative;
    height: 50px;
}
.th-chk, .td-chk {
    width: 45px;
}
.cart-table-th .th-chk .select-all {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    cursor: pointer;
}
.cart-checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin: -1px 0 0 15px;
    vertical-align: middle;
}
.cart-checkbox input {
    position: absolute;
    z-index: 0;
    left: -20px;
    top: -20px;
}
.cart-checkbox label {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background: url(../img/TB1PsW9LFXXXXaXXVXXXXXXXXXX-800-600.png) no-repeat;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}

.cart-checkbox-checked label {
    background-position: 0 -20px;
}
.th-item, .td-item {
    width: 302px;
}
.cart-table-th .th-item .td-inner {
    padding-left: 91px;
}
.th .td-inner {
    padding: 0 0 0 10px;
}
.th-info, .td-info {
    width: 172px;
    padding-right: 20px;
}
.th-price, .td-price {
    width: 120px;
}
.th-amount, .td-amount {
    width: 120px;
}
.th-sum, .td-sum {
    width: 105px;
}
.th-op, .td-op {
    width: 84px;
    padding: 0 0 0 15px;
}
.clearfix:after{
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
}
.productwrap2{
    margin-bottom: 15px;
    background: #fff8e1;
}
.shop {
    position: relative;
    height: 38px;
    background: #fff;
    overflow: hidden;
}
.shop-info {
    position: relative;
    z-index: 2;
    line-height: 38px;
}
.shop-icon{
    display: inline-block;
    vertical-align: middle;
    margin: -3px 6px 0 0;
    background: url(../img/TB1PsW9LFXXXXaXXVXXXXXXXXXX-800-600.png);
}
a {
    color: #3c3c3c;
}
.icon-B {
    width: 16px;
    height: 16px;
    background-position: -20px -105px;
}
.shop .ww-light {
    margin-left: 15px;
    overflow: hidden;
}
.ww-small .ww-online {
    text-decoration: none!important;
    width: 20px;
    height: 20px;
    zoom: 1;
    display: inline-block;
    background: url(../img/T15AD7FFFaXXbJnvQ_-130-60.gif);
    background-position: -80px 0;
}
.order-content {
    border: 1px solid #ccc;
}
.order-content .bundle-last {
    border-bottom: 0;
}
.item-holder {
    position: relative;
}
.item-body {
    background: #fcfcfc;
    border-bottom: none;
}
.item-content .td {
    float: left;
    min-height: 119px;
}
.item-content .td-chk {
    position: relative;
    overflow: hidden;
}
.td-inner {
    padding-top: 20px;
}
.item-content .td {
    float: left;
    min-height: 119px;
    overflow: hidden;
}
.item-content .item-pic {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    background-color: #ffffff;
}
.item-content .item-pic a {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
.item-content .item-pic img {
    max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
}
.td-item .item-info {
    margin: -3px 0 0 91px;
    padding-right: 25px;
}
.td-item .item-basic-info {
    min-height: 40px;
}
.item-content .item-title {
    font-size: 12px;
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-info .promo-logos {
    zoom: 1;
    overflow: hidden;
    min-height: 26px;
}
.item-icon-list .item-icons {
    margin-bottom: 3px;
}
.item-icon-list .item-icon {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.item-icon-list .item-icon img {
    vertical-align: middle;
}
.item-content .item-props {
    padding: 16px 0;
    min-height: 84px;
    border: 1px dashed transparent;
    osition: relative;
}
.item-content .sku-line {
    margin: 0 5px 0 15px;
    color: #9c9c9c;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-content .td-price {
    color: #9c9c9c;
}
.item-content .price-content {
    padding: 8px 0 0 10px;
    line-height: 1;
    width: 74px;
}
.item-content .td-price .price-line {
    padding: 0 0 4px 0;
}
.item-content .price-original {
    color: #9c9c9c;
    text-decoration: line-through;
    font-family: Verdana,Tahoma,arial;
}
.item-content .price-now {
    color: #3c3c3c;
    font-weight: 700;
    font-family: Verdana,Tahoma,arial;
}
.item-content .item-amount {
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 77px;
}
.item-content .item-amount a {
    display: block;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top: 0;
}
.item-content .item-amount .minus, .item-content .item-amount .no-minus {
    border-right-color: transparent;
    left: 0;
}
.item-content .text-amount {
    width: 39px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    background-position: -75px -375px;
    position: absolute;
    z-index: 2;
    left: 18px;
    top: 0;
    margin-left: 2px;
}
.item-content .item-amount a, .item-content .text-amount {
    float: left;
}
.item-content .item-amount a {
    display: block;
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    position: absolute;
    top: 0;
}
.plus{
    padding-left: 60px;
}
em.number{
    color: #f40;
    font-weight: 700;
}
.float-bar .operations a {
    margin-left: 25px;
    float: left;
}
.float-bar .select-all {
    float: left;
    width: 70px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    cursor: pointer;
}
.float-bar .operations {
    float: left;
    line-height: 50px;
    height: 50px;
}
.float-bar-wrapper{
    width: 990px;
}
.float-bar{
    position: static;
}
.float-bar-right, .float-bar-wrapper {
    background: #e5e5e5;
}
.float-bar-right {
    float: right;
    z-index: 4;
    padding-left: 20px;
}
.float-bar .amount-sum {
    cursor: pointer;
}
.float-bar .amount-sum, .float-bar .price-sum {
    height: 48px;
    color: #3c3c3c;
    float: left;
    margin-left: 80px;
}
.float-bar .price-sum strong, .float-bar .amount-sum em, .float-bar .price-sum .txt, .float-bar .amount-sum .txt {
    float: left;
}
.float-bar .txt {
    line-height: 48px;
}
.float-bar .amount-sum em, .float-bar .price-sum .price em {
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
    line-height: 50px;
    padding: 0 5px;
}

.float-bar .price-sum {
    height: 48px;
    color: #3c3c3c;
    float: left;
}
.float-bar .price-sum .price {
    color: #f40;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial;
    vertical-align: middle;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
.float-bar .price-sum .price em {
    font-weight: 700;
    font-size: 22px;
    padding: 0 3px;
}
.btn-area{
    float: left;
    height: 50px;
    width: 120px;
    border-radius: 3px;
}
.btn-area .submit-btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: #9c9c9c;
}
.btn-area .submit-btn span{
    color: white;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-family: 'Microsoft Yahei', SimSun;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: not-allowed;
}
.no-minus{
    z-index: 10000;
    cursor: pointer;
}